.select {
    border: 1px solid var(--gray20);
    padding-inline-start: .75rem;
    padding-inline-end: 2rem;
    padding-block: .5rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font: var(--button-button);
    appearance: none;
    background: url(../icons/Icon=chevron-down.svg);
    background-repeat: no-repeat;
    background-position: right .5rem center;
}